.about-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 0 auto;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-grid-item {
  text-align: left;
  background-color: rgb(204, 168, 90);
  padding: 5px;
}
