.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-grid-item {
  text-align: left;
  padding: 5px;
}

.about-grid-container h1 {
  margin-bottom: -10px;
  grid-row: 1;
  grid-column: 1/-1;
  font-size: x-large;
  font-weight: bold;
}

.about-grid-container h2 {
  font-size: large;
  font-weight: bold;
}
