.parent {
  display: grid;
  grid-template-columns: 0 repeat(3, 1fr);
  grid-template-rows: 0 repeat(2, 1fr) 0;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.div1 {
  margin-left: -30px;
  grid-area: 2 / 2 / 4 / 3;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 1px #817f7f82);
}
.div2 {
  grid-area: 2 / 3 / 3 / 4;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 1px #817f7f82);
}
.div3 {
  grid-area: 3 / 3 / 4 / 4;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 1px #817f7f82);
}
.div4 {
  grid-area: 3 / 4 / 4 / 5;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 1px #817f7f82);
}
.div5 {
  grid-area: 2 / 4 / 3 / 5;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 1px #817f7f82);
}
