.similarBeersHeader {
  font-size: x-large;
  font-weight: bold;
}

.similarBeersContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 80%;
  margin: 0 auto;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    margin: 20px;
    margin-left: 0px;
    display: inline-block;
    cursor: pointer;
    width: 390px;
    height: 300px;
    background: rgb(252, 252, 252);
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  }
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}
