.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #FFE298;
  border-bottom: 1px solid #e0e0e0;
  min-width: 100vw;
}
  
.left-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #FFE298;
}

.right-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #FFE298;
}

.logo{
  margin-right: 20px;
  padding: 10px;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}


.icon {
  margin: 0 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.search-wrapper {
  position: relative;
}

.search-wrapper img {
  position: absolute;
  top: 8px;
  left: 30px;
  width: 35px;
  height: 35px;
  background-color: none;
}

.search-wrapper input {
  padding: 20px 50px;
  margin: 0 20px;
  border-radius: 50px;
  border: 1px solid #e0e0e0;
  width: 400px;
  height: 50px;
  font-size: 20px;
  text-align: left;
}

.Beer-Name {
  width: 250px;
  left: 120px;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  color: #E99107;
}


.BeersAboutContactUs {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.OurBeers{
  width: 300px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.Header-Button {
  margin: 10px 10px;
  width: 200px;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  background: none;
  border: none;
}
