.container {
    display: flex;
    position: relative;
}

.top-row, .BeerGrid-side, .filter-side {
    width: 100%;
}

.BeerGrid-side, .filter-side, .dropdown {
    display: flex;
    flex-direction: column;
}

.BeerGrid-side, .filter-side {
    display: flex;
    flex-direction: column;
    padding-top: 50px; /* Adjust as needed - creates space for .top-row */
}

.BeerGrid-side {
    position: relative;
}

.filter-side {
    order: -1;
}

.BeerGrid-container {
    display: flex;
    justify-content: space-between;
  }
  
  .BeerGrid-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align children (dropdown and BeerGrid) to the right */
  }
  
  
  .dropdown {
    margin-bottom: 5px;
    width: 200px; /* Set a specific width for the dropdown */
  }
  
