.container {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 3%;
  width: 100%;
  margin-bottom: 50px;
}

.BeerGrid-side,
.filter-side {
  width: 100%;
}

.BeerGrid-side,
.filter-side,
.dropdown {
  display: flex;
  flex-direction: column;
}

.BeerGrid-side,
.filter-side {
  padding-top: 50px; /* Adjust as needed - creates space for .top-row */
}

.filter-side {
  order: -1;
}

.BeerGrid-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.filters-container {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 8px;
}

.dropdown {
  align-self: end;
  width: 100%;
  margin-bottom: 5px; /* Adjust as necessary */
}

.active-filter-buttons {
  align-self: end;
  width: 100%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.active-filter-button {
  order: 0;
}

.active-filter-button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border-width: 2px;
  padding: 5px 10px 5px 10px;
  border-color: #ffc22d;
  border-style: solid;
  text-align: left;
  background-color: #ffc22d;
  margin-bottom: 8px;
  margin-left: 5px;
  font-size: 12px;
}

.active-filter-button span {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
