.filter-matrix {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-row {
  display: flex;
  gap: 20px;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 110px;
  height: 40px;

  background-color: white;
  border: 1.4px solid #ffc22d;
  border-radius: 15px;
  cursor: pointer;
}

.filter-button.clicked {
  background-color: #ffc22d;
}

.filter-label {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.assortment-filter {
  margin-top: 30px;
  margin-right: 50px;
}

.flavor-profile-filter {
  margin-top: 30px;
  margin-right: 50px;
}

.price-filter {
  margin-top: 30px;
  margin-right: 50px;
}

.country-filter {
  margin-top: 30px;
  margin-right: 50px;
}

.brewery-filter {
  margin-top: 30px;
  margin-right: 50px;
}

.package-filter {
  margin-top: 30px;
  margin-right: 50px;
}

.alcohol-percentage-filter {
  margin-top: 30px;
  margin-right: 50px;
}

.filter-search-wrapper {
  position: relative;
}

.filter-search-wrapper img {
  position: absolute;
  top: 11px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: none;
}

.filter-search-wrapper input {
  padding: 20px 40px;
  border-radius: 15px;
  border: 1px solid #ffc22d;
  width: 370px;
  height: 45px;
  font-size: 15px;
  text-align: left;
}

.alcohol-search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alcohol-percentage-input {
  border-radius: 15px;
  border: 1px solid #ffc22d;
  width: 130px;
  height: 40px;
  font-size: 15px;
  text-align: right;
}

.input-label {
  margin-bottom: 5px;
  font-size: 16px;
  padding-left: 10px;
  font-weight: 500;
  color: black;
  align-self: flex-start;
}

.percentage-text {
  font-size: 20px;
  margin: 0 10px;
  padding-top: 30px;
  align-self: center;
}

.price-slider {
  margin-left: 10px;
}
