.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  background: #ffe298;
  border-bottom: 1px solid #e0e0e0;
  height: fit-content;
  width: 100%;
}

.left-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffe298;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #ffe298;
}

.logo{
  margin-right: 20px;
  padding: 10px;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.icon {
  margin: 0 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.search-wrapper {
  position: relative;
}

.search-wrapper img {
  position: absolute;
  top: 25%;
  left: 35px;
  width: 20px;
  height: 20px;
  background-color: none;
}

.search-wrapper input {
  padding: 20px 50px;
  margin: 0 20px;
  border-radius: 50px;
  border: 1px solid #ffc22d;
  width: 350px;
  height: 15px;
  font-size: 15px;
  text-align: left;
}

.Beer-Name {
  width: max-content;
  left: 120px;
  margin-right: 100px;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  color: #e99107;
  background: none;
  border: none;
}

.BeersAboutContactUs {
  display: flex;
  justify-content: space-between;
}

.OurBeers {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.Header-Button {
  margin: 10px 10px;
  width: max-content;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  background: none;
  border: none;
}
